@font-face {
	font-family: 'BMHANNAPro';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.fp-tooltip {
	opacity: 1;
	pointer-events: none;
	position: absolute;
	top: -5px !important;
	right: 21px;
	width: auto;
	text-align: right;
	background-color: rgba(50, 54, 54, .7);
	color: white;
	font-size: 13px;
	display: flex;
	padding: 2px 6px;
	border-radius: 4px;
	overflow: visible !important;
	margin-right: 5px;
	max-width: 500px !important;
}

.fp-tooltip::after {
	position: absolute;
	right: -5px;
	top: 7px;
	align-self: center;
	width: 0px;
	height: 0px;
	content: " ";
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid rgba(50, 54, 54, .7);
}

.video-container {
	position: relative;
	padding-bottom: 62.5%;
	height: 0;
	overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@include media-breakpoint-down(sm) {
	#fp-nav {
		display: none !important;
	}
}