#home {
    #home-contents {
        background: linear-gradient(to left, #{fade-out($secondary, .15)} 0%, #{fade-out($white, .85)} 100%), url('../img/1.png');
        background-repeat: no-repeat;
        background-position: right top;
    }

    .message {
        font-size: 4rem;
        color: white;
    }


    .wave-mask {
        background-size: cover;
        background-image: url('../img/5.svg');
        background-repeat: no-repeat;
    }
}