#home {
    #home-contents {
        background: linear-gradient(to bottom, #{fade-out($secondary, .5)} 0%, #{fade-out($secondary, .5)} 100%), url('../img/1.png');
        background-repeat: no-repeat;
        background-position: right top;
    }

    .message {
        font-family: BMHANNAPro;
        font-size: 4rem;
    }


    .wave-mask {
        background-size: cover;
        background-image: url('../img/5.svg');
        background-repeat: no-repeat;
    }
}