#install {
    .wave-mask {
        background-size: cover;
        background-image: url('../img/5.svg');
        background-repeat: no-repeat;
    }

    .message {
        font-size: 5rem;
        padding-top: 1rem;
    }
}