#others {
    #others-contents {
        background: linear-gradient(to top, #{fade-out($secondary, .25)} 0%, #{fade-out($white, .85)} 100%), url('../img/13.png');
        background-repeat: no-repeat;
        background-position: left bottom;
    }

    .wave-mask {
        background-size: cover;
        background-image: url('../img/6.svg');
        background-repeat: no-repeat;
    }

    .message {
        font-size: 4.5rem;
        color: white;
    }
}